@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card shadow-lg border-0 mt-5">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <h1 class="h3 fw-bold">Iniciar Sesión</h1>
                        <p class="text-muted">Ingresa tus credenciales para continuar</p>
                    </div>

                    <form asp-action="Login" asp-controller="Usuario" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email" placeholder="example@example.com" required>
                        </div>

                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="password" class="form-label">Contraseña</label>
                            </div>
                            <input type="password" class="form-control" name="contrasenia" placeholder="••••••••" required>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                        </div>

                        <div class="text-center mt-4">
                            <p class="small text-muted">
                                ¿Aún no estás registrado?
                                <br>
                                <a href="@Url.Action("Registro", "Usuario")" class="fw-bold text-decoration-none">Crea una cuenta aquí</a>
                            </p>
                        </div>

                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="bi bi-exclamation-triangle-fill me-2"></i> @ViewBag.Error
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>